<html>
<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box}

  input[type=text], input[type=password] {
    width: 400px;
    padding: 15px;
    margin: 20px 10px 20px 10px;
    display: inline-block;
  }

  button {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    opacity: 0.8;
    width: 500px
  }
</style>

<body>
  <form action="{{ url_for('login_user')}}" method="post">
    <div style="padding:20px">
      <h1>Login</h1>
      <h3>Please fill in the below form to login to your account.</h3>
      <hr>
      {% if error_message %}
        <h4 style = "color:red">
          {{ error_message }}
        </h4>
      {% endif %}
      <div>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br/>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br/>
        <button type="submit"><b>Login</b></button>
        <br/>
        <a href="{{ url_for('render_registeration_page') }}" style="text-decoration: none;">
            <button type="button">
                <b>
                    Register
                </b>
            </button>
        </a>
      </div>
    </div>
  </form>
</body>
</html>